/**************************************************/
/*** && WOOCOMMERCE                             ***/
/**************************************************/

body.woocommerce, body.woocommerce-page, .woocommerce {

	.button	{ .font(700); }

	ul.products li a .onsale					{ .font(700); }
	ul.products li a h2							{ .font(400); }
	ul.products li a.product_type_variable		{ .font(400); }
	ul.products li a .price .amount				{ .font(400); }

	div.product.hentry {

		.summary .product_title						{ .font(400); }
		.summary .price								{ .font(400); }
		.summary .cart .single_add_to_cart_button	{ .font(700); }

		.woocommerce-tabs .tabs	li a														{ .font(700); }
		.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta strong	{ font-weight: bold; }
		.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta time		{ .font(400); }
	}

	div.product #review_form #respond {
		.comment-reply-title 				{ .font(700); }
		small								{ .fontTXT(700); }
	}

	nav.woocommerce-pagination ul li span	{ .font(700); }
	.woocommerce-message					{ .font(400); }
	.woocommerce-info						{ .font(400); }
	.woocommerce-error						{ .font(400); }

}

.woocommerce div.product .summary .variations label	{ font-weight: bold; }

body.woocommerce-cart, .woocommerce {
	.shop_table.cart th							{ .font(700); }
	.shop_table.cart tbody td.product-remove a	{ font-weight: bold; }
	.cart-collaterals .shipping_calculator h2  	{ .fontTXT(normal); }
	.shop_table.cart tbody td.product-name .variation dt { font-weight: bold; }
}

.woocommerce label .required					{ font-weight: bold; }
#order_review .cart-subtotal { th, td 			{ font-weight: bold; }}
.methods.payment_methods li label 				{ font-weight: bold; }
.pp_woocommerce .comment-respond .stars a 		{ .font(700); }

/* Widget */

.ait-woocommerce-cart-widget,
.widget_shopping_cart {

	.cart_list li	.description a.title	{ .font(400); }
	.cart_list li .description .quantity	{ .font(4300); }

}

body.woocommerce-page .ait-woocommerce-cart-widget, .woocommerce {

	.cart-wrapper .cart-content .total strong 			{ .font(400); }
	.cart-wrapper .cart-content .total .amount 			{ .font(700); }

}
