/**************************************************/
/*** && WOOCOMMERCE                             ***/
/**************************************************/

.wooStars			{ font-size: 8px; line-height: 8px; }
.wooWidgetPrice		{ font-size: 16px; line-height: 20px; }
.wooProductRemove 	{ font-size: 26px; }
.wooDetailPrice 	{ font-size: 20px; line-height: 30px; }
.wooProductDetailTitle { font-size: 24px; line-height: 30px;}
.wooProductTitle 	{ font-size: 16px; line-height: 24px; }
.wooPriceMetaSize 	{ line-height: 20px; font-size: 13px; }

.starsSize 					{ font-size: 12px; }

.chosen-results 								{ .resetUlBullet; }

.woocommerce form .button,
.entry-content .woocommerce .button 			{ .wooButton(); display: block; width: auto; cursor: pointer; }
.woocommerce .button:hover						{ .box-shadow(none) !important; }
.woocommerce li.type-product .button			{ padding: 0; background: none; border: none; .box-shadow(none); }
.woocommerce .button.wc-forward					{ .wooButton(); padding: 8px 15px; .textContrast(@theme-general-decColor); }

.elm-content-main .woocommerce {

	.select2-container--default .select2-selection--single	 							{ padding: 8px 6px; height: auto; border-color: rgba(0,0,0,0.1); border-top-width: 4px; box-shadow: none; .border-radius(5px); font-weight: 400 !important; color: @theme-general-txtColor !important; }
	.select2-container--default .select2-selection--single .select2-selection__arrow	{ top: 50%; .translate(~"0, -50%"); right: 10px; }

}

.select2-drop.ait-woocommerce-select2 {

	&									{ border-color: @theme-general-linesColor !important; }
	.select2-search input[type="text"]	{ border: 1px solid @theme-general-linesColor !important; background: @theme-general-pageBgColor; padding: 5px 12px !important; min-height: 0; }
	.select2-results li					{ margin: 0 !important; padding: 4px 10px; .transition(~"background 0.4s, color 0.4s"); }

}


.woocommerce {

.sbHolder { min-width: 200px; }

ul.products										{ .resetUlBullet; display: block; }
ul.products li									{ float:left; margin: 0 5% 5% 0; padding: 0; position: relative; width: 30%; margin-left: 0; }
ul.products li.first							{ clear: both; }
ul.products li.last								{ margin-right: 0; }
ul.products li a .onsale						{ display: block; position: absolute; z-index: 10; top: 0; right: 0; background: #77E365; color: #ffffff; padding: 5px 10px 7px; /*font-family: @fancyFontBold;*/ text-shadow: 1px 1px 2px rgba(0,0,0,0.3); }
ul.products li a img							{ .wooBorderImage; width: 100%; height: auto; margin: 0; transition: all .3s}
ul.products li a h2								{ text-align: center; /*font-family: @fancyFontLight;*/ margin-bottom: 8px; }

ul.products li .thubnail-wrapper .thubnail-link .star-rating-wrapper			{ display: block; position: absolute; top: 6px; left: 6px; right: 6px; bottom: 6px; background: rgba(68,68,68,0.7); z-index: 5; opacity: 0; .transition(all 0.5s); }
ul.products li .thubnail-wrapper:hover .thubnail-link .star-rating-wrapper		{ opacity: 1; }

/* content product fix woo*/

.product_title.entry-title {margin: 0;}
.products .star-rating					{ overflow: hidden; /*position: absolute; top: 150px ;  left: -webkit-calc(~"50% - 4.7em"); left: calc(~"50% - 4.7em");*/ position: relative; ; height: 9px; width: 9.4em; font-family: @fancyIcons; letter-spacing: 1em; margin: 0 auto}
.products  .star-rating:before				{ content: "\f006\f006\f006\f006\f006"; color: @theme-general-linesColor; float: left; top: 0; left: 0; position: absolute; }
.products  .star-rating span				{ position: absolute; top: 0; left: 0; float: left; overflow: hidden; padding-top: 1.5em; line-height: 1em !important; }
.products  .star-rating span:before		{ content: "\f005\f005\f005\f005\f005"; position: absolute; top: 0; left: 0; color: #fff000; }


ul.products li                                                       { text-align: center;}
ul.products li a.add_to_cart_button									{ position: absolute; z-index: 200; left: 6px; top: 1px; display: block; width: 42px; height: 0px; text-indent: -9999px; overflow: hidden; overflow: hidden; font-size: 0 }
ul.products li a.add_to_cart_button:before							{ display: block; content: ""; background: url('@{imgUrl}/add_card_button.png') center center no-repeat; height: 42px; width: 42px; }
ul.products li a.add_to_cart_button.loading							{ height: 42px; }
ul.products li a.add_to_cart_button.loading:before					{ background: #444444 url('@{imgUrl}/preloader.gif') center center no-repeat;}


ul.products li a.add_to_cart_button.added							{ display: none; }
ul.products li a.added_to_cart										{ position: absolute; z-index: 200; left: 6px; top: 6px; display: block; background: #444444 url('@{imgUrl}/success.png') center center no-repeat; width: 42px; height: 42px; text-indent: -9999px; overflow: hidden; }
ul.products li a.product_type_variable								{ position: absolute; z-index: 200; left: 6px; top: 6px; display: block; background: #444444; color: #ffffff; padding: 0px 7px;  font-size: inherit ; height: 0; overflow: hidden; line-height: 30px; max-width: -webkit-calc(~"100% - 12px"); max-width: calc(~"100% - 12px"); .borderbox; text-overflow: ellipsis; width: auto; text-indent: 0; }
ul.products li a.product_type_variable:before						{ display: none;  }
ul.products li:hover{
	a.add_to_cart_button			{ height: 42px; }
	a.product_type_variable			{ height: 30px; }
	a img 						{ opacity: 0.5; }
}

.product_type_simple.ajax_add_to_cart 		{display: inline-block;margin: 5px 0 0 ;text-align: center;}

/* end content product fix */


ul.products li a .price							{ display: block; text-align: center; }
ul.products li a .price .amount					{ /*font-family: @fancyFontLight; */}
ul.products li a .price ins						{ text-decoration: none; }
ul.products li a .price del						{ color: #aaaaaa; }

.price { del, ins 					{ vertical-align: middle; }}

div.product{


	.star-rating					{ overflow: hidden; margin: 5px auto 0; position: relative; height: 9px; width: 7em; font-family: @fancyIcons; letter-spacing: 0.5em; }

	.star-rating:before				{ content: "\f006\f006\f006\f006\f006"; color: @theme-general-linesColor; float: left; top: 0; left: 0; position: absolute; }
	.star-rating span				{ position: absolute; top: 0; left: 0; float: left; overflow: hidden; padding-top: 1.5em; line-height: 1em !important; }
	.star-rating span:before		{ content: "\f005\f005\f005\f005\f005"; position: absolute; top: 0; left: 0; color: #fff000; }

	.price ins 						{ text-decoration: none; color: @theme-general-decColor; }

	.onsale				{ display: none; } /* DISPAY NONE!!! */

	.images										{ float: left; width: 48.4%; margin-bottom: 40px; }
	.images a.woocommerce-main-image img		{ .wooBorderImage; width: 100%; }
	.images .thumbnails							{ text-align: center; margin-top: 10px; }
	.images .thumbnails img						{ margin: 0 5px; .wooBorderImage; width: 70px; height: auto; }

	.summary										{ float: right; width: 48.4%; }
	.summary .star-rating							{ margin: 10px 0; width: 9em; letter-spacing: 1em; }
	.summary .cart									{ margin-bottom: 20px; }
	.summary .cart .quantity						{ .wooQtyForm }
	.summary .cart .single_add_to_cart_button		{ border: none; display: inline-block; vertical-align: middle; /*font-family: @fancyFontBold;*/ color: #ffffff; background: @theme-general-decColor; padding: 6px 20px 7px; text-align: center; .box-shadow(inset 0 -5px 0 rgba(0,0,0,0.1)); margin-left: 20px; min-height: 46px; }
	.summary .single_variation						{ margin-bottom: 20px; }
	.summary .single_variation p					{ margin: 0; }
	.summary .product_meta							{ display: block; margin-top: 20px; }
	.summary .product_meta > span					{ display: block; }

	.summary .variations						{ margin-bottom: 0; }
	.summary .variations label					{ display: block; }
	.summary .variations select					{ margin-bottom: 5px; border-top-width: 4px; .border-radius(5px); }
	.summary .single_variation 					{ margin-bottom: 20px; }
	.summary .reset_variations 					{ display: block; padding-top: 5px; }

	.variations tr td.value .sbHolder				{ margin-bottom: 10px; }

	.woocommerce-tabs							{ float: right; width: 48.4%; padding-top: 50px; .borderbox; .resetUlBullet; margin-bottom: 40px !important; }
	.woocommerce-tabs .tabs						{ position: relative; top: 1px; margin-left: 20px; }
	.woocommerce-tabs .tabs	li					{ float: left; }
	.woocommerce-tabs .tabs	li a				{ .transition(none); display: block; padding: 15px 20px; .borderbox; border: solid transparent; border-width: 1px 1px 0px 1px; .border-radius(5px 5px 0 0);  color: @theme-general-txtColor; }
	.woocommerce-tabs .tabs	li.active a,
	.woocommerce-tabs .tabs	li:hover a			{ background: @theme-general-pageBgColor; border-color: @theme-general-linesColor; }
	.woocommerce-tabs .panel					{ margin: 0; padding-top: 20px; clear: both; .box-shadow(0 -12px 19px -18px rgba(0, 0, 0, 0.1)); border-top: solid 1px @theme-general-linesColor; }
	.woocommerce-tabs .panel h2					{ display: none; }


	.woocommerce-tabs #tab-reviews																{  }
	.woocommerce-tabs #tab-reviews .commentlist 												{ padding-bottom: 0; margin-left: 0; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment										{ margin-bottom: 20px; list-style: none; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .avatar-wrap							{ float: left; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .avatar								{ .wooBorderImage; margin-bottom: 0; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text						{ margin-left: 75px; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta					{ position: relative; padding: 0; border-bottom: 1px solid @theme-general-linesColor; margin-bottom: 10px; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta strong			{ color: @theme-general-decColor;  display: inline-block; height: 26px;  padding-right: 10px; padding-top: 4px; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta time				{ color: @theme-general-txtColor;  padding-top: 4px; margin-left: 10px; cursor: pointer; }
	.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta time:hover		{ color: @theme-general-decColor; }

	.woocommerce-tabs #tab-additional_information p		{ margin-bottom: 5px; }

	/* Reviews Form */

	#review_form #respond {
		.comment-reply-title 				{ .h3size; display: block; margin-bottom: 15px; position: relative; color: @theme-general-titColor; }
		small								{ .bodysize; display: block; float: right; margin-top: 5px; }
		.comment-reply-title small a		{ color: @theme-general-lnkColor; }
		.comment-reply-title small a:hover	{ color: @theme-general-hvrColor; }
	}

	.upsells						{ clear: both; }
	.upsells > h2					{ text-align: center; margin-top: 20px; margin-bottom: 50px; }

	.related						{ clear: both; }
	.related > h2					{ text-align: center; margin-top: 20px; margin-bottom: 50px; }


}

.woocommerce-product-gallery__wrapper {

	.woocommerce-product-gallery__image:first-of-type		{ text-align: center; margin: 0 0 20px; display: block; width: 100%; }
	.woocommerce-product-gallery__image .wp-post-image		{ display: block; margin: 0; width: 100%; }

	.woocommerce-product-gallery__image						{ margin-right: 4%; margin-bottom: 4%; width: 22%; text-align: center; display: inline-block; vertical-align: top; }
	.woocommerce-product-gallery__image:nth-child(4n+1) 	{ margin-right: 0; }
	.woocommerce-product-gallery__image > a 				{ display: block; font-size: 0; line-height: 0; }

	.woocommerce-product-gallery__image .size-shop_single	{ margin: 0; .wooBorderImage; }

}


/* fix single product woo*/
.commentlist li								{ padding-bottom: 20px; }
.commentlist .comment_container				{ .cleafix}
.commentlist .avatar 						{ float: left; .wooBorderImage; margin-bottom: 0; }
.commentlist .comment-text 					{ margin-left: 75px;}
.comment-text .star-rating					{ float: right; margin-top: 10px }
.commentlist .meta							{ position: relative;  border-bottom: 1px solid @theme-general-linesColor; margin-bottom: 10px; }
.commentlist .meta strong					{ color: @theme-general-decColor; display: inline-block; height: 26px;  padding-top: 4px; }
.commentlist .star-rating					{ overflow: hidden; margin: 5px auto 0; position: relative; height: 9px; width: 7em; font-family: @fancyIcons; letter-spacing: 0.5em; }
.commentlist .star-rating:before				{ content: "\f006\f006\f006\f006\f006"; color: @theme-general-linesColor; float: left; top: 0; left: 0; position: absolute; }
.commentlist .star-rating span				{ position: absolute; top: 0; left: 0; float: left; overflow: hidden; padding-top: 1.5em; line-height: 1em !important; }
.commentlist .star-rating span:before		{ content: "\f005\f005\f005\f005\f005"; position: absolute; top: 0; left: 0; color: #fff000; }
.show_review_form 				{ .wooButton; &:hover { color: #fff; padding-bottom: 12px !important}}
.noreviews .show_review_form 	{ background: transparent; padding: 0; color: @theme-general-decColor; border: none; .box-shadow(none); &:hover {color: @theme-general-decColor; }}

/* end fix single product */


/* fix single product rewiews */

#respond form .stars span { display: none;}

/* end fix single product rewiews */


.woocommerce-result-count						{ display: none; }
.woocommerce-ordering							{ float: left; }


nav.woocommerce-pagination							{ .resetUlBullet; clear: both; text-align: center; }
nav.woocommerce-pagination ul						{ display: inline-block; white-space: nowrap; padding:0; clear: both; border-right: 0; margin: 1px; }
nav.woocommerce-pagination ul li					{ padding: 0;  margin: 0; float: left; display: inline; overflow: hidden; }
nav.woocommerce-pagination ul li a,
nav.woocommerce-pagination ul li span				{ margin: 0 5px; text-decoration: none; padding: 2px 10px; display: block; color: @theme-general-txtColor; .border-radius(50px); }
nav.woocommerce-pagination ul li span.current,
nav.woocommerce-pagination ul li a:hover,
nav.woocommerce-pagination ul li a:focus			{ background: @theme-general-decColor; color: @theme-general-pageBgColor; }


.woocommerce-message				{ /*font-family: @fancyFontRegular;*/ border: 2px solid @ntfsuccesscolor; background: lighten(@ntfsuccesscolor, 35%); color: darken(@ntfsuccesscolor, 20%); padding: 20px 10px; margin-bottom: 20px; position: relative; .box-shadow(inset 0 0 0 2px #ffffff); }
.woocommerce-message:before			{ font-family: @fancyIcons; font-weight: normal; font-style: normal; text-indent: 0; -webkit-font-smoothing: antialiased; text-decoration: inherit; display: block;	speak: none; .icon-remove; }
.woocommerce-info					{ /*font-family: @fancyFontRegular;*/ border: 2px solid @ntfinfocolor; background: lighten(@ntfinfocolor, 35%); color: darken(@ntfinfocolor, 20%); padding: 10px 20px; margin-bottom: 20px; position: relative; .box-shadow(inset 0 0 0 2px #ffffff); }
.woocommerce-info:before			{ font-family: @fancyIcons; font-weight: normal; font-style: normal; text-indent: 0; -webkit-font-smoothing: antialiased; text-decoration: inherit; display: block;	speak: none; .icon-remove; }
.woocommerce-error					{ /*font-family: @fancyFontRegular;*/ border: 2px solid @ntferrorcolor; background: lighten(@ntferrorcolor, 20%); color: darken(@ntferrorcolor, 20%); padding: 10px 20px; margin-bottom: 20px; position: relative; .box-shadow(inset 0 0 0 2px #ffffff); }
.woocommerce-error:before			{ font-family: @fancyIcons; font-weight: normal; font-style: normal; text-indent: 0; -webkit-font-smoothing: antialiased; text-decoration: inherit; display: block;	speak: none; .icon-remove; }

} // end .woocommerce-page namespacing wrap


body.woocommerce-cart, .woocommerce{

	.shop_table.cart										{ width: 100%; }
	.shop_table.cart th										{ /*font-family: @fancyFontBold; font-weight: normal;*/ text-align: left; padding: 15px 0; }
	.shop_table.cart tbody tr:nth-child(2n+1)				{ background: lighten(@theme-general-linesColor, 10%); }
	.shop_table.cart tbody tr:last-child					{ background: none; }
	.shop_table.cart tbody td								{ padding: 15px 0; vertical-align: middle; height: 100px; min-height: 100px; padding: 15px 10px; .borderbox; }
	.shop_table.cart tbody td.product-remove				{ text-align: center; width: 5%; color: red; padding-left: 40px; }
	.shop_table.cart tbody td.product-remove a				{ color: #ca0a0a; /*font-weight: bold;*/ }
	.shop_table.cart tbody td.product-thumbnail,			{ text-align: center; }
	.shop_table.cart tbody td.product-thumbnail a			{ display: inline-block; }
	.shop_table.cart tbody td img							{ .wooBorderImage; width: 65px; margin: 0; }
	.shop_table.cart tbody td.product-quantity .quantity 	{ .wooQtyForm; }
	.shop_table.cart tbody td.product-name > a				{ max-width: 80%; }
	.shop_table.cart tbody td.product-name .variation		{ display: block; margin-top: 5px; color: lighten(@theme-general-txtColor, 20%); }
	.shop_table.cart tbody td.product-name .variation dt	{ float: left; margin-right: 5px; }
	.shop_table.cart tbody td.product-name .variation dd p	{ margin: 0; }

	.shop_table.cart tbody td.actions							{ border: solid @theme-general-linesColor; border-width: 1px 0 1px 0; text-align: right; height: auto; padding: 20px 0 0; }
	.shop_table.cart tbody td.actions .coupon					{ padding: 0 0 20px; float: left; text-align: left; }
	.shop_table.cart tbody td.actions .coupon:after 			{ .clearfix; }
	.shop_table.cart tbody td.actions .coupon label				{ display: none; }
	.shop_table.cart tbody td.actions .coupon .input-text		{ width: auto; height: 41px; margin-right: 25px; border: solid 1px @theme-general-linesColor; .borderbox; padding: 0 10px; float: left; }
	.shop_table.cart tbody td.actions .coupon .button			{ .wooButton(); float: left; /*background: #b9e6ed;*/ cursor: pointer; }
	.shop_table.cart tbody td.actions .button					{ .wooButton(); min-height: 46px; background: #cacaca; cursor: pointer; float: right;  margin:0 0 20px; }
	.shop_table.cart tbody td.actions .button.checkout-button	{ float: right; background: @theme-general-decColor; }

	.shop_table.cart tbody td.actions .cart-actions 			{ padding: 0 0 20px; float: right; }
	.shop_table.cart tbody td.actions .cart-actions:after 		{ .clearfix; }
	.shop_table.cart tbody td.actions .cart-actions .button 	{ float: left; }
	.shop_table.cart tbody td.actions .cart-actions .checkout-button { margin-left: 25px; }


	.cross-sells												{ display: none; }

	.cart-collaterals											{ width: 100%; position: relative; margin-bottom: 40px; padding-top: 45px; }
	.cart-collaterals:after										{ .clearfix; }
	.cart-collaterals .cart_totals								{ width: 100%; }
	.cart-collaterals .cart_totals h2							{ text-transform: uppercase; }
	.cart-collaterals .cart_totals table						{ width: 100%; border-collapse: separate; border-spacing: 2px;}
	.cart-collaterals .cart_totals th,
	.cart-collaterals .cart_totals td							{ background: rgba(0,0,0,0.02); }
	.cart-collaterals .cart_totals th							{ text-align: left; padding: 10px 0; padding-left: 25px; width: 65%; }
	.cart-collaterals .cart_totals td							{ text-align: right; vertical-align: middle; padding-right: 25px; }
	.cart-collaterals .shipping_calculator						{ width: 48%; float: right; }
	.cart-collaterals .shipping_calculator h2					{ text-transform: uppercase; color: @theme-general-decColor; }
	.cart-collaterals .shipping_calculator .sbHolder 			{ height: 40px; }
	.cart-collaterals .shipping_calculator .sbHolder .sbToggle 	{ top: 5px; }
	.cart-collaterals .shipping_calculator .sbHolder .sbSelector{ line-height: 40px; }
	.cart-collaterals .shipping_calculator .sbOptions 			{ top: 40px !important; }
	.cart-collaterals .shipping_calculator .input-text			{}
	.cart-collaterals .cart_totals h2,
	.cart-collaterals .shipping_calculator h2  					{ /*font-family: Helvetica, Arial, sans-serif;*/ }
	.cart-collaterals .shipping_calculator h2 a					{ background: @theme-general-lnkColor; color: #ffffff; padding: 8px 15px; font-size: 16px; font-weight: bold; .box-shadow(inset 0 -3px 0 rgba(0, 0, 0, 0.2)); }

	.return-to-shop .button { .wooButton(); }

}

/* woocommerce checkout */
.clear:after, .woocommerce form:after					{ .clearfix; }
.woocommerce .col2-set:after							{ .clearfix; }
.woocommerce .col-1, .woocommerce .col-2				{ .borderbox; float: left; width: 45%; }
.woocommerce .col-1										{ margin-right: 10%; }
.woocommerce input[type="password"],
.woocommerce input,
.woocommerce textarea,
.woocommerce select										{ .borderbox; display: block; width: 100%; padding: 10px; border: 1px solid @theme-general-linesColor; }
.woocommerce .input-checkbox,
.woocommerce .input-radio								{ display: inline; width: auto; }
.woocommerce .login .form-row:after 					{ .clearfix(); }
.woocommerce .login .form-row .inline 					{ display: block; float: left; }
.woocommerce .login .form-row .inline input[type="checkbox"] { width: auto; display: inline; margin-top: 4px; }


.woocommerce .form-row .chzn-container.chzn-container-single {
	.chzn-single, .chzn-drop						{ .border-radius(0); border: 1px solid @theme-general-linesColor; }
	.chzn-single									{ padding: 5px 0 5px 8px; background: #fff; .box-shadow(none); }
	.chzn-single span								{ margin-right: 35px; }
	.chzn-single div								{ margin-right: 5px; }
	.chzn-single div b								{ background-position: 0 10px !important; }
	.chzn-single-with-drop div b					{ background-position: -18px 11px !important; }
	.chzn-drop										{ border-top: none; }
}

.woocommerce label									{ line-height: 46px; color: @theme-general-titColor; }
.woocommerce label.checkbox							{ vertical-align: top; line-height: 22px; }
.woocommerce label .required						{ /*font-weight: bold;*/ line-height: 20px; color: @theme-general-decColor; }
.woocommerce .woocommerce-invalid input				{ padding: 9px 10px; border: 2px solid @ntferrorcolor; }

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper			{ .flex-block; .flex-flow(row wrap); .justify-content(space-between); & > p { width: 100%; } }

#billing_first_name_field, #billing_last_name_field, #billing_city_field, #shipping_city_field,
#billing_state_field, #billing_postcode_field,
#billing_email_field, #billing_phone_field,
#shipping_first_name_field, #shipping_last_name_field,
#shipping_state_field, #shipping_postcode_field,
#shipping_email_field, #shipping_phone_field,
.woocommerce .create-account #account_password_field,
.woocommerce .create-account #account_password-2_field  { .borderbox; width: 45%; }

.woocommerce .create-account:after 			   { .clearfix; }

#shiptobilling 									{ margin: 55px 0 34px; }

.woocommerce .login, .woocommerce .checkout_coupon {
	 & {.borderbox; padding: 20px 20px 0; margin-bottom: 40px;
	  border: 2px solid @theme-general-linesColor; .box-shadow(inset 0 0 0 2px #ffffff);
	  background: lighten(@theme-general-linesColor, 10%); }

	  &:after {.clearfix(); }

.input-text 				{ .borderbox; display: block; width: 100%; }
.form-row 					{ display: block; width: 45%; float: left; }
.form-row-first 			{ margin-right: 10%; }
.button 					{ .wooButton(); margin-right: 10%; cursor: pointer; }
}
.woocommerce .checkout_coupon .input-text { padding: 12px 12px 13px }
.woocommerce .checkout_coupon .form-row   { margin-right: 5%; }

.woocommerce-shipping-fields textarea		{ padding: 15px !important; }

/* Checkout - Your Order */
#order_review table, .my_account_orders, .order_details {
	& 						{ width: 100%; margin-bottom: 40px; border-collapse: separate; border-spacing: 3px; }
	thead, tfoot, tbody 	{ border-spacing: 0; }
	th, td, tr  			{ text-align: left;  }
	th, td 					{ padding: 10px 20px; background: lighten(@theme-general-linesColor, 2%); vertical-align: middle !important; }

	}

.woocommerce .customer_details { margin-bottom: 40px; }

.woocommerce-checkout .elm-search-form						{ display: none; }
.woocommerce-checkout-review-order							{ margin-bottom: 20px; }

#order_review table .product-total 							{ width: 30%; }
#order_review {thead, tfoot { th, td 						{ text-transform: uppercase; }}}
#order_review .cart-subtotal { th, td 						{ /*font-weight: bold;*/ }}
#order_review tfoot .shipping td 							{ text-transform: none; }
#order_review .total { th strong, td strong					{ color: @theme-general-decColor; }}

.order-info								{ padding: 10px; background: lighten(@theme-general-linesColor,10%);  }
.order-info	mark			  			{ background: transparent; color: @theme-general-decColor;  }

.my_account_orders th 										{ background: transparent; }

.methods.payment_methods 									{ margin-bottom: 40px; border: 1px solid @theme-general-linesColor; border-bottom: none; }
.methods.payment_methods li 								{ padding: 30px 35px; border-bottom: 1px solid @theme-general-linesColor; }
.methods.payment_methods li:before 							{ display: none; }
.methods.payment_methods li label 							{ /*font-weight: bold;*/ }
.methods.payment_methods li label img 						{ margin: 0 15px; vertical-align: middle; }
.methods.payment_methods li .payment_box 					{ padding-left: 25px; }
.methods.payment_methods li .payment_box p 					{ margin-bottom: 0; }
#place_order 												{ .wooButton(); width: auto; cursor: pointer; }

.woocommerce .login .button 								{ float: left; }
.woocommerce .login .lost_password 							{ line-height: 40px; }

/* Woocommmerce lost passsword */

.lost_reset_password:after 						{ .clearfix; }
.lost_reset_password .clear 					{ display: none; }
.lost_reset_password .form-row 					{ display: inline-block; width: 30%; vertical-align: bottom; }
.lost_reset_password .form-row-first 	 		{  margin-right: 5%; }
.lost_reset_password #user_login 				{ display: block; width: 100%; }
.woocommerce .lost_reset_password .button 		{ .wooButton(); padding: 8px 20px 12px; margin-top: 20px; }

#cboxContent .form-submit input 				{ display: inline; }
#cboxContent .pp_content_container 			{ padding: 20px 0; }

/* customizations */
.woocommerce-ordering  							{ margin-bottom: 40px; }
ul.products li a .price span.from 				{ color: @theme-general-txtColor; }
ul.products li a .price span.from,
ul.products li a .price ins,
ul.products li a .price del 					{ vertical-align: bottom; }
div.product.hentry .price						{ text-decoration: none; color: @theme-general-decColor; }
div.product.hentry .price del 					{ color: #aaa; }

body.woocommerce-cart, .woocommerce {

	.cart-collaterals .cart_totals							{ width: 100%; float: none; }
	.cart-collaterals .cart_totals .shipping td				{ padding-top: 10px; }
	.woocommerce-shipping-calculator{
															  margin-top: 10px; padding-top: 10px; margin-left: 20px; border-top: 2px solid @theme-general-pageBgColor;
		p 													{ margin-bottom: 10px; }
		.shipping-calculator-form p 							{ float: right; }
		.shipping-calculator-form p.form-row.form-row-wide	{ float: none; text-align: left; }

		.sbHolder .sbToggle:before 	{ left: 0; }
		.sbOptions 					{ text-align: left; }
	}
	.checkout-button 										{ .wooButton; float: right; }
}

.woocommerce-tabs .show_review_form { .wooButton; &:hover { color: #fff; }}
.woocommerce-tabs .noreviews .show_review_form { background: transparent; padding: 0; color: @theme-general-decColor; border: none; .box-shadow(none); &:hover {color: @theme-general-decColor; }}

.right-sidebar.woocommerce-cart, .right-sidebar.woocommerce,
.left-sidebar.woocommerce-cart, .left-sidebar.woocommerce {

      .product  .woocommerce-tabs                             { width: 100% !important;  }

    }

body.right-sidebar.left-sidebar.woocommerce div.product .images,
body.right-sidebar.left-sidebar.woocommerce-page div.product .images,
.right-sidebar.left-sidebar.woocommerce div.product .images,

body.right-sidebar.left-sidebar.woocommerce-page div.product .summary,
body.right-sidebar.left-sidebar.woocommerce div.product .summary,
.right-sidebar.left-sidebar.woocommerce div.product .summary                { width: 100%; }

#cboxContent #respond { border: 0; .comment-form-author, .comment-form-email { .borderbox; display: inline-block; width: 50%;}}
#cboxContent #respond .comment-form-email:after 				{ .clearfix; }
#cboxContent #respond label 									{ display: inline; width: auto; vertical-align: baseline; }
#cboxContent #respond .required 								{ color: @theme-general-decColor; }


#cboxContent .comment-respond .stars a 						{ display: inline-block; width: 19%; margin-right: 1%; position: relative;
																  /*font-family: @fancyFontBold;*/ color: lighten(@theme-general-txtColor, 5%);
																  background: @theme-general-linesColor; .border-radius(3px); text-indent: 15px; }
#cboxContent .comment-respond .stars a.active,
#cboxContent .comment-respond .stars a:hover 				{ color: #fff; background: @theme-general-lnkColor; }
#cboxContent .comment-respond .stars a.active:after,
#cboxContent .comment-respond .stars a:hover:after 			{ color: #fff; }
#cboxContent .comment-respond .stars a:after 				{ font-family: @fancyIcons; position: absolute; right: 10px; letter-spacing: 1px; font-size: 10px; }
#cboxContent .comment-respond .stars .star-1:after 			{ content: "\f005"; }
#cboxContent .comment-respond .stars .star-2:after 			{ content: "\f005 \f005"; }
#cboxContent .comment-respond .stars .star-3:after 			{ content: "\f005 \f005 \f005"; }
#cboxContent .comment-respond .stars .star-4:after 			{ content: "\f005 \f005 \f005 \f005"; }
#cboxContent .comment-respond .stars .star-5:after 			{ content: "\f005 \f005 \f005 \f005 \f005"; }
#cboxContent .comment-respond .stars a:last-child 			{ width: 20%; margin-right: 0; }
#cboxContent .comment-respond .comment-reply-title 			{ margin-bottom: 15px; }
#cboxContent .comment-respond .comment-form-rating          {}
#cboxContent .comment-respond textarea         				{ width: 100%; }
#cboxContent .comment-respond select,
#cboxContent .comment-respond .sbHolder         			{ display: none; }

.woocommerce #respond form p.stars		{ display: none; }
.woocommerce #respond form label		{ display: block; float: none; width: auto; line-height: normal; }
.woocommerce #respond form textarea		{ width: 100%; }

/* login shortcode */

.woocommerce .login, .woocommerce .checkout_coupon {
.form-row:nth-child(1n)	{ margin-right: 20px; }
}

.woocommerce .login .lost_password							{ float: left; }
.woocommerce .login .form-row .inline						{ padding-top: 5px; }

.column-grid-2 .woocommerce .login, .column-grid-2 .woocommerce .checkout_coupon,
.column-grid-3 .woocommerce .login, .column-grid-3 .woocommerce .checkout_coupon {

.form-row	{ float: none; width: auto; }
.form-row:nth-child(1n)	{ margin-right: 0; }

}


// Remove Spin buttons from input type="number" for WooCommerce

body.woocommerce, body.woocommerce-page {

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}

}

.columns-2 ul.products li							{ width: 47.5% !important; }
.columns-4 ul.products li							{ width: 21.25% !important; }
.columns-5 ul.products li							{ width: 16% !important; }
.columns-6 ul.products li							{ width: 12.5% !important; }


/* My account  */

.woocommerce-MyAccount-navigation  				{ width: 25%; float: left;}
.woocommerce-MyAccount-content 					{ width: 70%; float: right;}
.woocommerce-MyAccount-navigation:after 		{ .clearfix}
.woocommerce-MyAccount-content:after 			{ .clearfix}
.woocommerce-MyAccount-navigation-link				{ margin-bottom: 1px; padding: 10px 20px; background: darken(@theme-general-pageBgColor, 3%) }
.woocommerce-MyAccount-navigation-link.is-active  	{ background: darken(@theme-general-pageBgColor, 10%) }

.woocommerce-FormRow.form-row-first				 	{ float: left;  width: 48%;}
.woocommerce-FormRow.form-row-last 					{ float: right;width: 48%;}
.woocommerce-MyAccount-content fieldset 			{ background: darken(@theme-general-pageBgColor, 3%); border-radius: 4px; margin: 30px 0; padding: 60px 30px 20px; position: relative; }
.woocommerce-MyAccount-content legend 				{  position: absolute; top: 20px; color: @theme-general-decColor }


/**************************************************/
/*** && WOOCOMMERCE WIDGETS                     ***/
/**************************************************/

.widget.woocommerce.widget_shopping_cart 			{ margin: 25px 25px 15px 25px; }
.ait-woocommerce-cart-widget,
.widget_shopping_cart{
	.widget_shopping_cart_content					{  }
	.cart_list li									{ margin: 15px 0 15px 0; border-top: 1px solid @theme-general-linesColor; }
	.cart_list li.empty								{ margin: 15px 0 25px 0; }
	.cart_list li:first-child						{ border-top: 0px solid @theme-general-linesColor; }
/*	.cart_list li:last-child						{ margin-bottom: 10px;   }
	.cart_list li:nth-child(2n)						{ background: @theme-general-lightObj; }    */
	.cart_list li:after								{ .clearfix; }
	.cart_list li a img								{ display: block;float: left; margin: 0 25px 0 0; text-align: left; width: 65px;}
	.total											{ display: block; border-top: solid 1px @theme-general-linesColor; padding: 10px 0; text-align: center; white-space: normal; }
	.total .amount									{ color: @theme-general-decColor; }
	.tax_label										{ display: inline-block; }
	.buttons										{ display: block; padding: 0 0px 10px; }
	.buttons:after									{ .clearfix; }
	.buttons .button								{ .wooButton(); background: #aaaaaa; display: block; transition:all .3s}
	.buttons .button.checkout						{ background: @theme-general-decColor; margin-top: 10px; transition:all .3s}


    .attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image              	{ display: block;float: left; margin: 0 25px 0 0; text-align: left; width: 65px;}
    .mini_cart_item > a 														{ display: block; text-align: left;  white-space: normal;  margin: 10px 0 0;}
	.mini_cart_item > a.remove 													{ text-align: right; display:none}
    .mini_cart_item .quantity 													{ display: block;margin-left: 90px;}
	dl.variation 																{ margin-left: 90px;}
	.variation dt 																{ float: left; padding-right:5px}
	.variation dt:after 														{ .clearfix}

}

.widget-container.widget_shopping_cart .widget-content	{ padding: 0px 15px 5px 15px; background: lighten(@theme-general-pageBgColor, 10%); border: 1px solid @theme-general-linesColor; .border-radius(5px); .borderbox; }

.ait-woocommerce-cart-widget {
	position: relative; display: inline-block; vertical-align: middle; text-align: left; z-index: 50;

	.cart-wrapper				{ display: inline; white-space: nowrap; }
	.cart-wrapper .cart-header							{ position: relative; padding: 29px 0; z-index: 2; }
	.cart-wrapper .cart-header .cart-header-info		{ color: @theme-header-menuColor; }
	.cart-wrapper .cart-header .cart-header-info .fa	{ margin-right: 5px; font-size: 16px; }

	.cart-wrapper .cart-header .cart-count				{ display: inline-block; min-width: 20px; height: 20px; line-height: 20px; background: #fff; color: @theme-header-menubg; text-align: center; font-weight: bold; .border-radius(50px); border: 1px solid #fff; .transition(all 0.4s); }
	.cart-wrapper:hover .cart-header .cart-count		{ background: transparent; color: @theme-header-menuColor; }

	.cart-wrapper .cart-content				{ width: 270px; position: absolute ; right: -10px; background: #fff; .box-shadow(0 1px 2px 0px rgba(0, 0, 0, 0.3)); z-index: 1;
											  -webkit-animation: popup 0.3s; animation: popup 0.3s; }
	.cart-wrapper .cart-content:before 		{ content: ""; position: absolute; top: -20px; right: 10px; border-width: 10px; border-style: solid;
											  border-color: transparent transparent #ffffff transparent; }

	.cart-wrapper .cart-content .cart-list .empty 						{ text-align: left; }
	.cart-wrapper .cart-content .hidden									{ display: none; }
	.cart-wrapper .cart-content .widget_shopping_cart_content			{ border: none; }
	.cart-wrapper .cart-content .cart_list li:nth-child(2n) 			{ background: transparent; }
	.cart-wrapper .cart-content .cart_list .photo						{ display: block; float: left; }
	.cart-wrapper .cart-content .cart_list .description					{ display: block; margin-left: 80px; .borderbox; }
	.cart-wrapper .cart-content .total 									{ font-size: 18px; }
	.cart-wrapper .cart-content .total strong 							{ color: @theme-general-txtColor; }
	.cart-wrapper .cart-content .total .amount 							{ }
}
.woocommerce-page .entry-summary > .star-rating 	{ display: none; }
.woocommerce-product-rating .woocommerce-review-link 	{ display: none; }
/*body.woocommerce-page.woocommerce-cart .ait-woocommerce-cart-widget { display: none; }*/
.woo-cart-holder .ait-woocommerce-cart-widget 		{ text-align: right; }

.widget_top_rated_products,
.widget_recent_products,
.widget_recently_viewed_products,
.widget_random_products,
.widget_onsale,
.widget_recent_reviews,
.widget_best_sellers,
.widget_products
{
	.product_list_widget li							{ margin-bottom: 5px; padding: 15px; background: lighten(@theme-general-pageBgColor, 10%); border: 1px solid @theme-general-linesColor; .border-radius(5px); }
	.product_list_widget li:after					{ .clearfix; }
	.product_list_widget li a						{ display: block; color: @theme-general-titColor; }
	.product_list_widget li a:hover					{ color: @theme-general-decColor; }
	.product_list_widget li a img					{ float: left; width: 65px; height: 65px; margin-right: 25px; }
	.product_list_widget li .amount					{ color: @theme-general-decColor; text-decoration: none; }
	.product_list_widget li ins,
	.product_list_widget li del 					{ margin-right: 3px; }
	.product_list_widget li ins						{ text-decoration: none; }
	.product_list_widget li del 					{ text-decoration: none; }
	.product_list_widget li del .amount				{ color: lighten(@theme-general-txtColor, 20%); text-decoration: line-through; }


	.product_list_widget li .star-rating					{ overflow: hidden; margin: 10px 0; height: 9px; width: 9.4em; font-family: @fancyIcons; letter-spacing: 1em; position: relative; }
	.product_list_widget li .star-rating:before				{ content: "\f006\f006\f006\f006\f006"; color: @theme-general-linesColor; float: left; top: 0; left: 0; position: absolute; }
	.product_list_widget li .star-rating span				{ position: absolute; top: 0; left: 0; float: left; overflow: hidden; padding-top: 1.5em; line-height: 1em !important; }
	.product_list_widget li .star-rating span:before		{ content: "\f005\f005\f005\f005\f005"; position: absolute; top: 0; left: 0; color: #fff000; }
}

.widget_price_filter {
	.widget-content 					   	   { padding: 15px; background: lighten(@theme-general-pageBgColor, 10%); border: 1px solid @theme-general-linesColor; .border-radius(5px); }
	.price_slider 							   { margin-bottom: 20px; background: @theme-general-linesColor; .border-radius(2.5px); }
	.price_slider_amount 					   { text-align: right; line-height: 2.4em; font-size: 0.8751em; }
	.price_slider_amount .button 			   { float: left; padding: 5px 20px 10px; margin-right: 25px; font-size: 1.15em; }
	.price_slider_amount .price_label 		   { float: left; line-height: 37px; }
	.ui-slider 								   { position: relative; }
	.ui-slider .ui-slider-handle 			   { .borderbox; width: 18px; height: 18px; position:absolute; top: -.4em; z-index: 2;  cursor: pointer; outline: none;
												 background: #fff; border: 5px solid #b9e6ed; .border-radius(100%); .box-shadow(0 1.5px 0 rgba(0,0,0,0.1)); }
	.ui-slider .ui-slider-handle:last-child    { margin-left: -1em; }
	.ui-slider .ui-slider-range 			   { position:absolute; z-index: 1; font-size: .7em; display:block; border: 0; background: @theme-general-decColor; .border-radius(2.5px); }
	.ui-slider-horizontal 					   { height: 8px; }
	.ui-slider-horizontal .ui-slider-range 	   { top: 0; height: 100%; }
	.ui-slider-horizontal .ui-slider-range-min { left: -1px; }
	.ui-slider-horizontal .ui-slider-range-max { right: -1px; }
}

.widget_product_tag_cloud,
.widget_layered_nav,
.widget_product_categories{

	position: relative;
	.tagcloud:after				{ .clearfix; }
	ul							{ padding: 0px; margin: 0px; border-top: none; }
	ul:after					{ .clearfix; }
	.tagcloud a,
	li 							{ display: block; float: left; padding: 3px 6px; margin: 0px 5px 5px 0px; border: 1px solid @theme-general-linesColor ; position: relative; background: lighten(@theme-general-linesColor, 10%); }
	li a  						{ }
	li a:hover  				{ }
	li.current_page_item a,
	li.current-cat a			{ color: @theme-general-hvrColor; }
	li.current_page_item:before,
	li.current-cat:before		{ border-color: transparent transparent transparent @theme-general-titColor; }
	ul ul						{ margin-left: -@listOffset; padding-left: @listOffset; margin-top: 5px; }


	ul ul				{ margin-left: 0px; padding-left: 0px; margin-top: 5px; }

	.sbHolder			{}
	.sbHolder li		{ display: block; float: none; border: none; margin: 0; background: none; }

}

.widget_product_search	{

	label			{ display: none; }
	.search-field	{ margin-bottom: 5px; }

}


/**************************************************/
/*** && FOOTER WIDGETS                          ***/
/**************************************************/

.footer-widgets {

	.widget_top_rated_products,
	.widget_recent_products,
	.widget_recently_viewed_products,
	.widget_random_products,
	.widget_onsale,
	.widget_recent_reviews,
	.widget_best_sellers
	{
		.product_list_widget li a						{ display: block; color: @theme-footer-lnkFwColor; }
		.product_list_widget li a:hover					{ color: @theme-footer-hvrColor; }
		.product_list_widget li							{ border-bottom: solid 1px @linesFwColor; padding: 20px 0; }
		.product_list_widget li:last-child				{ border-bottom: none; }
		.product_list_widget li a img					{ background: @theme-footer-footerbg-color; border-color: @linesFwColor; padding: 3px; .transition(all .5s); }
		.product_list_widget li a:hover img				{ border-color: @theme-footer-decFwColor; }
	}
}
