/**************************************************/
/*** && WOOCOMMERCE                             ***/
/**************************************************/

.star-rating										{ .wooStars; }
ul.products li a .price								{ .h3size; }
ul.products li a .price del							{ .bodysize; }
ul.products li a.product_type_variable				{ .bodysize; }
.widget_price_filter .price_label                   { .decsize; }
body.woocommerce .button, .woocommerce .button		{ .smallsize; }

body.woocommerce-cart, .woocommerce {

	.shop_table.cart tbody td.product-name > a		{ .h5size; }
	.shop_table.cart tbody td.product-remove a		{ .wooProductRemove; }
	.shop_table.cart { td, th 						{  }}
	.cart-collaterals .cart_totals h2,
	.cart-collaterals .shipping_calculator h2 		{  }

}

body.woocommerce, .woocommerce {

	// div.product.hentry .price ins,
	ul.products li a h2							{ .h5size; }
	div.product.hentry .summary .product_title 	{ .h3size; }

	div.product{

		.summary .price									{ .h3size; }
	}
}

body.woocommerce-page ul.products li a h2 							{ .h5size; }
body.woocommerce-page div.product.hentry .summary .product_title 	{ .h3size; }
// body.woocommerce-page div.product.hentry .price,
// .woocommerce div.product.hentry .price 				{ .h3size; }


.woocommerce-MyAccount-content legend 					{ .h4size; }

.widget_top_rated_products,
.widget_recent_products,
.widget_recently_viewed_products,
.widget_random_products,
.widget_onsale,
.widget_recent_reviews,
.widget_best_sellers
{
	.product_list_widget li a							{ .h6size; }
	.product_list_widget li del .amount,
	.product_list_widget li .amount						{ .h5size; }
	.product_list_widget li .star-rating				{ .wooStars; }
}

.widget_product_tag_cloud .tagcloud a,
.widget_product_tag_cloud li,
.widget_layered_nav .tagcloud a,
.widget_layered_nav li,
.widget_product_categories .tagcloud a,
.widget_product_categories li							{ .smallsize; }

.wooButton												{ .tableth; }

// ul.products li a .price span.from,
// body.woocommerce-page div.product.hentry .price del,
// ul.products li a .price del         					{ .decsize; }

.pp_woocommerce .comment-respond .stars a:after,
.pp_woocommerce .comment-respond .stars a:before    	{ .starSize; }


