/* AIT Plugin Product Questions */
/* Admin Stylesheet */

table.ajax-subscribers {width: 100%}
table.ajax-subscribers tr th {color: #666}
table.ajax-subscribers tr td {color: #888; text-align: center}

table.ajax-subscribers td.table-actions{text-align: left; padding-top: 10px}
table.ajax-subscribers td.table-actions a{font-weight: bold; text-decoration: none; color: #0074a2}
/*.theme-admin_page_ait_quick_comments_options .ait-opt-container .ait-opt-wrapper {background: none}*/