/* AIT Plugin Product Questions */
/* Responsive Stylesheet */


/******************************************************************************/
/* ========================================================================== */
/* = MAX WIDTH 640px                                                        = */
/* ========================================================================== */
/******************************************************************************/

@media all and (max-width: 640px) {

	.quick-comments-container.form-shown 	{ box-shadow: none; border-radius: 0; overflow: auto; right: 0; top: 0; }
	.quick-comments-form .form-body 		{ max-width: 100%; }
	.quick-comments-form .form-body form 	{ width: 100%; }

}


/* && END 600 */