/* AIT Plugin Product Questions */
/* Main Stylesheet */
.quick-comments-container {position: fixed; bottom: 0; right: 10px; overflow: hidden; border-top-right-radius: 5px; border-top-left-radius: 5px; z-index: 99999;  box-shadow: 0px 0px 7px 0px #666666; line-height: 24px; text-shadow: none}
.quick-comments-container.form-shown {border-top-right-radius: 10px; border-top-left-radius: 10px;}

.quick-comments-toggle {background: @colorMajor; cursor: pointer}
.quick-comments-toggle i {padding: 10px; background: rgba(255,255,255,0.9); color: @colorMinor}
.quick-comments-toggle span {padding-left: 15px; padding-right: 20px; color: @colorTitles; font-weight: bold}

.quick-comments-form {background: @colorBackground;}
.quick-comments-form .form-header {background: @colorMajor; text-align: center; padding-top: 3px; padding-bottom: 3px}
.quick-comments-form .form-header span {color: @colorTitles; font-weight: bold}
.quick-comments-form .form-header i {position: absolute; right: 10px; margin: 5px 0px 0px 0px; color: @colorMinor; cursor: pointer}
.quick-comments-form .form-header i:hover {color: @colorBackground}

.quick-comments-form .form-body {max-width: 250px; padding: 20px 20px 0px 20px; overflow: hidden; /*position: relative*/}

.quick-comments-form .form-body .form-overflow {display: none; background: rgba(0,0,0,0.6); height: 100%; width: 100%; position: absolute; z-index: 100; margin-top: -20px; margin-left: -20px; text-align: center}
.quick-comments-form .form-body .form-overflow .form-notifications {position: relative; top: 100px; padding: 10px}
.quick-comments-form .form-body .form-overflow .form-notification {display: none}
.quick-comments-form .form-body .form-overflow span {color: white; font-weight: bold; font-size: 15px}

.quick-comments-form .form-body .form-message {padding-bottom: 20px; line-height: 1.3em; color: @colorTexts}

.quick-comments-form .form-body form {width: 250px}
.quick-comments-form .form-body form input {width: 96%; padding: 4px !important; border: 1px solid silver !important; border-radius: 5px; min-height: initial}
.quick-comments-form .form-body form input.invalid {border: 1px solid red !important;}
.quick-comments-form .form-body form textarea {width: 97%; border: 1px solid silver !important; border-radius: 5px; resize: none;}
.quick-comments-form .form-body form textarea.invalid {border: 1px solid red !important;}
.quick-comments-form .form-body form input[type="checkbox"] {width: auto; float: left; margin-top: 5px; margin-right: 5px}
.quick-comments-form .form-body form input[type="submit"] {background: @colorMajor; border: none; color: @colorTitles; font-weight: bold; width: 100%}
.quick-comments-form .form-body .form-control {padding-bottom: 10px}
.quick-comments-form .form-body .form-control .form-label span {color: @colorTexts; font-weight: bold}
.quick-comments-form .form-body .form-control-required .form-label span:after {content: " *";}

.form-control.form-captcha {position: relative}
.form-control.form-captcha .form-value-overlay {position: absolute; width: 100%; height: 34px; text-align: center; background: @colorBackground;}
.form-control.form-captcha img {float: left;}
.form-control.form-captcha input {width: 67% !important}

.quick-comments-form .form-body .form-control:last-child .form-value {text-align: center;}

.quick-comments-form .form-footer {text-align: right}
.quick-comments-form .form-footer span {font-size: 10px}
.quick-comments-form .form-footer span a {margin-right: 10px; color: @colorLinks}

/* HACKS */
.quick-comments-container input::-webkit-input-placeholder { /* WebKit browsers */
	color: @colorLinks;
}
.quick-comments-container input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: @colorLinks;
	opacity: 1;
}
.quick-comments-container input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: @colorLinks;
	opacity: 1;
}
.quick-comments-container input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: @colorLinks;
}
/* HACKS */

@import 'responsive.css';