<!doctype html>
<!--[if IE 8]>
<html {languageAttributes}  class="lang-{$currentLang->locale} {$options->layout->custom->pageHtmlClass} ie ie8">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)]><!-->
<html {languageAttributes} class="lang-{$currentLang->locale} {$options->layout->custom->pageHtmlClass}">
<!--<![endif]-->
<head>
	<meta charset="{$wp->charset}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{$wp->pingbackUrl}">

	{if $options->theme->general->favicon != ""}
		<link href="{$options->theme->general->favicon}" rel="icon" type="image/x-icon" />
	{/if}

	{if isset($elements->unsortable['seo'])}
		{if $elements->unsortable[seo]->display}
			{if $elements->unsortable[seo]->option->keywords != ""}
				<meta name="keywords" content="{$elements->unsortable[seo]->option->keywords}">
			{/if}
			{if $elements->unsortable[seo]->option->description != ""}
				<meta name="description" content="{$elements->unsortable[seo]->option->description}">
			{/if}
			{if $elements->unsortable[seo]->option->title != ""}
				<title>{$elements->unsortable[seo]->option->title}</title>
			{else}
				<title>{title '|', true, right}</title>
			{/if}
		{else}
			<title>{title '|', true, right}</title>
		{/if}
	{else}
		<title>{title '|', true, right}</title>
	{/if}

	{googleAnalytics $options->theme->google->analyticsTrackingId, $options->theme->google->anonymizeIp}

	{wpHead}

	{!$options->theme->header->customJsCode}
</head>

{* why like this? because 4 *}
{var $searchFormClass = ""}
{if $elements->unsortable[search-form]->display}
	{var $searchFormClass = $elements->unsortable[search-form]->option('type') != "" ? "search-form-type-".$elements->unsortable[search-form]->option('type') : "search-form-type-1"}
{/if}
<body n:class="$wp->bodyHtmlClass(false), defined('AIT_REVIEWS_ENABLED') ? reviews-enabled, $searchFormClass">
	{* usefull for inline scripts like facebook social plugins scripts, etc... *}
	{doAction ait-html-body-begin}

	{if $wp->isPage}
	<div id="page" class="page-container header-one">
	{else}
	<div id="page" class="hfeed page-container header-one">
	{/if}


		<header id="masthead" class="site-header" role="banner">

			<div class="header-container grid-main">

				<div class="site-logo">
					{if $options->theme->header->logo}
					<a href="{$homeUrl}" title="{$wp->name}" rel="home"><img src="{$options->theme->header->logo}" alt="logo"></a>
					{else}
					<div class="site-title"><a href="{$homeUrl}" title="{$wp->name}" rel="home">{$wp->name}</a></div>
					{/if}

				</div>

				<div class="menu-tools">
					<div class="menu-container">
						<div class="grid-main">
							<nav class="main-nav" role="navigation" style="display: none">

								<div class="main-nav-wrap">
									<h3 class="menu-toggle">{__ Menu}</h3>
									{menu main}
								</div>
							</nav>
						</div>
					</div>

					<div class="site-tools">

						{includePart parts/social-icons}

						{includePart parts/woocommerce-cart}

						{includePart parts/languages-switcher}

						{includePart portal/parts/user-panel}

					</div>
				</div>

			</div>

			{var $empty = ""}

			{if $elements->unsortable[taxonomy-menu]->display or $options->theme->header->displayHeaderResources or
			((defined('AIT_FOOD_MENU_ENABLED') && $wp->isPage && $elements->unsortable[header-map]->display && $options->layout->general->headerType == 'map'))}
			{else}
				{var $empty = " empty"}
			{/if}

			<div class="tools-bar{$empty}">
				{if $elements->unsortable[taxonomy-menu]->display}
					<div class="tax-menu-expand"><i class="fa fa-sliders"></i></div>
				{/if}
				<div class="tools-bar-right">
					{if defined('AIT_FOOD_MENU_ENABLED') && $wp->isPage && $elements->unsortable[header-map]->display && $options->layout->general->headerType == 'map'}
					{var $symbol = isset($options->theme->foodMenu->priceRangeIcon) ? $options->theme->foodMenu->priceRangeIcon : 'fa-usd'}
					<div class="tool-bar-filter">
						<div class="filter-title">{__ 'Map Filter:'}</div>
						<div class="price-rating" data-symbol="{$symbol}" data-rating="0"></div>
					</div>
					{/if}
					{includePart portal/parts/header-resources}
				</div>
			</div>

		</header><!-- #masthead -->

			{if $pagenow == 'wp-activate.php'}
				<div class="page-content full">
					<div id="main" class="elements">
						<div class="grid-main">
							<div class="activate-form">
			{/if}
