/*
 * AIT WordPress Theme
 *
 * Copyright (c) 2014, Affinity Information Technology, s.r.o. (http://ait-themes.club)
 */


body		{ .bodysize; }

h1			{ .h1size; }
h2			{ .h2size; }
h3			{ .h3size; }
h4			{ .h4size; }
h5			{ .h5size; }
h6			{ .h6size; }

small					{ .smallsize; }
input					{ .bodysize; }
input[type="submit"],
input[type="reset"]		{ .bodysize; }
textarea				{ .bodysize; }
select					{ .bodysize; }
.sbHolder 				{ .bodysize; }
.sbHolder .sbSelector	{ .bodysize; }
.sbHolder .sbOptions	{ .bodysize; }
.ui-datepicker						{ .bodysize; }
.ui-datepicker table				{ .bodysize; .bodysize; }
.ui-datepicker table th				{ .bodysize; }
.ui-datepicker .ui-datepicker-buttonpane button		{ .smallsize; }

.site-logo a					{ .h1size; line-height: 22px; }
#masthead-clone .site-logo a	{ .menusize; }

.frontend-notification span	a	{ .tnsize; }

.item-container .item-title h3,
.elm-items-main .layout-box .item .item-title h3 { font-size: 18px; line-height: 24px; }
.item-container .item-body p	{ .cropBodySize; }

.filters-wrap h2                                      { .bodysize; }
.filter-container.filter-orderby .sbSelector i        {.decsize; }
.filter-container.filter-count .sbHolder a.sbSelector { line-height: 30px; }

.categories-container .data .desc p    { .cropBodySize; }

.tool-bar-filter .filter-title	{ font-size: 15px; }

.resources-data 			{ line-height: 54px; }
.resources-text 			{ font-size: 15px; }
.resources-count            { .decsize; }
.resources-button			{ .smallsize; }

.nav-menu-main > ul			{ .menusize; }
.nav-menu-main > ul ul		{ .decsize; }
.social-icons li.iconFont	{ .menusize; line-height: 20px; }

.tax-menu-item-data						{ .menusize; }
.tax-menu-heading a i                	{ font-size: 21px; }
.tax-menu-heading .tax-item-title		{ .decsize; }
.tax-item-count							{ .tnsize; line-height: 21px; }

.entry-content .tabstyle1 table thead th	{ .tableth; }

.ait-sc-rule-btn-top						{ .smallsize; }
.ait-sc-button .title						{ .h4size; }
.ait-sc-button .description					{ .smallsize; }
.ait-button.item							{ .smallsize; }
.ait-sc-button.button-plan-my-route .title	{ .smallsize; }

.infoBox .item-title h3			{ font-size: 18px; line-height: 1; }
.infoBox .foodmenu-special-item .left-panel,
.infoBox .foodmenu-special-item .title h3	{ .bodysize; }
.infoBox .item-desc				{ .bodysize; }

.elm-maindesc					{ .bodysize; }

.elm-easy-slider-main ul.easy-slider li .easy-title			{ .h6size; }
.elm-easy-slider-main .bx-wrapper li .bx-caption .bx-caption-desc span.bx-link-button { .smallsize; }
.slide-title												{ .h2size; }

.elm-posts-main .item-title h3		{ .h5size; }
.elm-posts-main .item-date			{ .smallsize; }
.elm-posts-main .item-categories a	{ .tnsize; }
.elm-posts-main .layout-box .entry-date .link-day       { .h4size; line-height: 12px;  }
.elm-posts-main .layout-box .entry-date .link-month     { font-size: 10px; line-height: 8px; }
.elm-posts-main .layout-box .entry-date .link-year      { .tnsize;  line-height: 20px; }

.elm-item-organizer .item-duration,
.elm-item-organizer .item-info										{ .smallsize; }
.elm-item-organizer .carousel-container .item-box					{ .bodysize; }
.elm-item-organizer .item-text p									{ .cropBodySize; }

.elm-faq .faq-q									    { .h3size; }

.elm-toggles-main .ait-tabs ul.ait-tabs-nav li a		{ .smallsize; }
.elm-toggles-main .ait-tabs-vertical li .ait-tab-hover	{ .smallsize; }
.elm-toggles-main .toggle-title 					{ .decsize; }
.elm-toggles-main .ait-tabs .tabs-wrapper .selected	{ .decsize; }

.elm-toggles-main .responsive-tabs-select 			{ .decsize; }
.elm-toggles-main .responsive-tabs-select option 	{ .smallsize; }

.local-toggles .toggle-header .toggle-title			{ .decsize; }
.local-toggles .toggle-content .toggle-container	{ .bodysize; }
.elm-toggles-main .toggle-header .ait-icon:before   { .smallsize; }

.elm-price-table .table-header .table-description	{ .smallsize; }
.elm-price-table .table-header .table-price			{ .h1size; }
.elm-price-table .table-button a					{ .h4size; }

.elm-opening-hours-main .hours-note					{ .smallsize; }

.elm-twitter-main ul.twitter li .twitter-timestamp	{ .smallsize; }

.elm-items-main .layout-list .item .item-category,
.elm-items-main .layout-box .item-category 			{ .tnsize; }

.product .item-title h3 				{ .h3size;}

.nav-single a						{ .bodysize; }

.hentry .more						{ .smallsize; }
.hentry .entry-title h2             { .h4size; }
.hentry .tags a 	                { .tnsize; }
.hentry .entry-date .link-day       { .h4size; line-height: 12px;  }
.hentry .entry-date .link-month     { font-size: 10px; line-height: 8px; }
.hentry .entry-date .link-year      { .tnsize;  line-height: 20px; }

.hentry .comments-link a                    { font-size: 15px; line-height: 28px; }

.single-post .entry-footer .categories li a,
.single-post .entry-footer .tags a				{ .tnsize; }

.single-post .tags a                { .smallsize; }
.single-post .auth-links            { .smallsize; }

.author-info .author-description h2 { .h3size; }
#respond h3	small					{ .bodysize; }

.nav-single,
.nav-pagination {
	.nav-previous a:before, .nav-next a:before	{ .bodysize; }
}


.review-ratings .review-rating-question,
.reviews-container .review-rating-stars i,
.reviews-container .review-rating-overall i,
.reviews-container .review-name         { .decsize; }
.reviews-container .review-time			{ .tnsize; }


.commentlist  a.comment-reply-link,
.commentlist  a.comment-edit-link			{ .smallsize; }

.widget-container .widget-title h3		{ .h3size; line-height: 28px; }
.banner-description					{ .smallsize; }
.widget_posts h4						{ .bodysize; }
.widget_posts .date						{ .smallsize; }
.widget_posts p							{ .smallsize; }
.widget_posts .read-more				{ .smallsize; }
.widget_calendar table 					{ .calTableSize; }
.widget_recent_entries .post-date		{ .smallsize; }
.widget_rss .widget-title				{ .h3size; }
.widget_rss	.rss-date					{ .smallsize; }
.widget_rss .rssSummary					{ .smallsize; }
.widget_rss cite						{ .smallsize; }
.widget_categories,
.widget_archive,
.widget_tag_cloud	{ li, .tagcloud a	{ .widgetsButtonSize; } } 	/*** for button layout - optional ***/

.site-search label .screen-reader-text	{ .searchLabelSize; }
.site-search input.search-field			{ .searchSize; }
.widget_search input.search-field		{ .searchSize; }

.widget_newest_item .item-container > .content > span,
.widget_items .item-container > .content > span			{ .smallsize; }

/* Custom Theme Content */

.page-title .item-location	{ .decsize; }

.elm-search-form .radius-popup-help					{ .bodysize; }
.elm-search-form .price-rating						{ .decsize; }

.widget_items h4			{ .bodysize; }
.widget_newest_item h4		{ .bodysize; }
.reviews-container .review-actions button	{ .smallsize; }
.reviews-container .review-name				{ .largesize; }

/* Taxonomies */

.categories-container .title	{ font-size: 18px; }

/* Item Detail */

.item-content-wrap h2		{ .h5size; }

.item-content-wrap .address-name h5,
.item-content-wrap .day-title h5,
.item-extension-container .field-title h5 		{ font-size: 15px; }

.categories-bar .item-category	{ .smallsize; }

.gallery-container .thumbnail-title		{ .smallsize; }

.feature-container .feature-data h4		{ .smallsize; }

.rating-form-hidden .review-stars-container > h3	{ .h5size; }

/* Food Menu */

.foodmenu-special-item .title h3	{ .decsize; line-height: inherit; }
.foodmenu-tab-item a				{ font-size: 13px; }

.foodmenu-food-type > h3			{ .bodysize; }
.foodmenu-item h3					{ .h4size; }

.foodmenu-toggle span 				{ .smallsize; }

/* Element Footer Items */

.elm-footer-items .item-categories	{ .bodysize; }

/**************************************************/
/*** && SPECIAL OFFERS PLUGIN                   ***/
/**************************************************/

@import "plugins/special-offers-fontsize.less";

/* && end of SPECIAL OFFERS PLUGIN */

/*** WooCommerce ***/

@import "woocommerce/woo-fontsize.less";
